/*
TAGS
*/

.colors{
    color: #344D67;
    color: #6ECCAF;
    color: #ADE792;
    color: #F3ECB9;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3ECB0;
}

img{
    width: 30vw;
}

header, footer{
    background-color: #344D67;
    color: #F3ECB0;
    padding: 2vw;
}

article{
    background-color: #6ECCAF;
}

a>img{
    border-radius: 10vw;
    width: 3vw;
}

hr{
    margin: 1vw;
}

th{
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

table{
    margin: 1.3vw;
}

/*
IDENTIFICATORS
*/

#articles{
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1vw;
}

/*
CLASSES
*/

.text{
    padding: 1vw;
}

.images{
    background-color: #ADE792;
    width: 90%;
    padding: 2vw;
    margin-bottom: 1vw;
}

